{% extends "partials/card_footer_simple.html" %}
{% load i18n %}

{% block footer_text %}
    {% blocktranslate with page_count=params.current_page_count item_name=params.item_name item_pluralization=params.current_page_count|pluralize total_count=params.total_count %}
        <p class="text-sm text-gray-700">
            Showing <span class="font-medium">{{ page_count }}</span> {{ item_name }}{{ item_pluralization }} out of
            <span class="font-medium">{{ total_count }}</span>.
        </p>
    {% endblocktranslate %}
{% endblock %}

{% block footer_buttons %}
    <a href="{{ params.paginated_list_url }}"
       class="relative inline-flex items-center pl-4 pr-2 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
        <span>{% translate "View all" %}</span>
        {% include "core/components/icons/chevron_right.html" %}
    </a>
{% endblock %}
