{% if not collections %}
    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">-</td>
{% else %}
    <td class="px-6 py-1 whitespace-nowrap">
        <div class="flex items-center gap-1 max-w-xs flex-wrap">
            {% for collection in collections|slice:slice %}
            <a href="{{ collection.url }}">
                {% include "ui/tag.html" with label=collection.label only %}
            </a>
            {% endfor %}
            {% if left_out > 0 %}
                <span class="text-xs text-gray-800" translate="no">(+{{ left_out }})</span>
            {% endif %}
        </div>
    </td>
{% endif %}
