<div class="flex flex-row items-center my-4">
    <label for="search_filter_{{ key }}" class="text-sm text-gray-700 font-medium mr-2 w-24">
        {{ label }}:
    </label>
    <div class="ml-2 mr-4 flex-1" x-data="{ search: '' }">
        <select
                id="search_filter_{{ key }}"
                name="search_filter_{{ key }}"
                multiple x-data="TomSelectable()"
                x-init="init($el,$dispatch)"
                x-cloak
                @select-change="$dispatch('set-filters', {key: '{{ key }}', value: $event.detail.value})"
                class="w-full"
        >
            {% for option in options %}
                <option value="{{ option.value }}"{% if option.selected %} selected{% endif %}>
                    {{ option.label }}
                </option>
            {% endfor %}
        </select>
    </div>
</div>
