*.env
.coverage
.local/
.cache/
htmlcov/
venv
k8s/*
!k8s/sample_app.yaml

#for mac and idea
*.DS_Store
.idea/
# TODO: remove
credentials
.terraform*

static/uploads/*
.venv
.vscode
__pycache__

docker-compose.debug.yaml
docker-compose.dev.yaml