# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.DS_Store
### Backend ###
*.env
data/
.coverage
.local/
.cache/
htmlcov/
venv
.venv
*.pyc
backend/k8s/*
!backend/k8s/sample_app.yaml

#for mac and idea
.idea/
# TODO: remove
backend/credentials
.terraform*
.vscode

static/uploads/*

docker-compose.debug.yaml
docker-compose.dev.yaml

#### Frontend ####
# dependencies
node_modules
.pnp
.pnp.js

# testing
frontend/coverage

# next.js
.next/
frontend/out/

# production
frontend/build

# misc
*.pem

# debug
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# local env files

# vercel
.vercel

# typescript
frontend/*.tsbuildinfo

# Sentry
.sentryclirc


# Sentry Config File
.env.sentry-build-plugin

# AI Coworkers
/.claude/settings.local.json