# Defines a service that can be reused multiple times later
x-app: &common
    build:
      context: ./backend
      dockerfile: Dockerfile
      target: app
      args:
        - DJANGO_SETTINGS_MODULE=${DJANGO_SETTINGS_MODULE}
        - WORKSPACE_STORAGE_LOCATION=${WORKSPACE_STORAGE_LOCATION}
    env_file:
      - path: ./.env
        required: true
    environment:
      - ADDITIONAL_ALLOWED_HOSTS=*
    networks:
      - openhexa
    volumes:  # only used for Github Codespaces
      - "${LOCAL_WORKSPACE_FOLDER:-./backend}:/code"
      - "${WORKSPACE_STORAGE_LOCATION:-/data/openhexa}:/data"

services:
  db:
    image: postgis/postgis:16-3.5
    env_file:
      - path: ./.env
        required: true
    networks:
      - openhexa
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5434:5432"

  app:
    # Inherit from the block defined on top and override some fields
    <<: *common
    command: "manage runserver 0:8000"
    restart: unless-stopped
    image: blsq/openhexa-app
    ports:
      - "8000:8000"
    depends_on:
      - db

  # Workers
  ##########

  dataset_worker:
    <<: *common
    command: "manage dataset_worker"
    restart: unless-stopped
    profiles:
      - "dataset_worker"
    depends_on:
      - db

  pipelines_runner:
    <<: *common
    user: "root"
    build:
      context: ./backend
      dockerfile: Dockerfile
      target: pipelines
      args:
        - DJANGO_SETTINGS_MODULE=${DJANGO_SETTINGS_MODULE}
    command: "manage pipelines_runner"
    restart: unless-stopped
    profiles:
      - "pipelines"
    depends_on:
      - db
    environment:
      - IS_LOCAL_DEV=true
    volumes:  # only used for Github Codespaces
      - "${LOCAL_WORKSPACE_FOLDER:-./backend}:/code"
      - /var/run/docker.sock:/var/run/docker.sock
      - ${HOME}/.kube:/root/.kube:ro

  pipelines_scheduler:
    <<: *common
    build:
      context: ./backend
      dockerfile: Dockerfile
      target: pipelines
      args:
        - DJANGO_SETTINGS_MODULE=${DJANGO_SETTINGS_MODULE}
    command: "manage pipelines_scheduler"
    restart: unless-stopped
    profiles:
      - "pipelines"
    volumes:  # only used for Github Codespaces
      - "${LOCAL_WORKSPACE_FOLDER:-./backend}:/code"
    depends_on:
      - db

  # Frontend
  # TODO: Fix dev container to be able to work with the backend graphql files
  ###########

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      target: dev
    env_file: ./.env
    networks:
      - openhexa
    profiles:
      - "frontend"
    ports:
      - "${FRONTEND_PORT:-3000}:3000"
    environment:
      - NODE_ENV=${NODE_ENV:-development}
      - OPENHEXA_BACKEND_URL=http://app:8000
    restart: unless-stopped
    depends_on:
      - app
    volumes:
      - ./.env:/.env
      - ./backend:/backend

  gitea:
    image: gitea/gitea:1.22
    entrypoint: /custom-entrypoint.sh
    ports:
      - "3100:3000"
    environment:
      - GITEA__database__DB_TYPE=sqlite3
      - GITEA__server__ROOT_URL=http://gitea:3000
      - GITEA__server__HTTP_PORT=3000
      - GITEA__security__INSTALL_LOCK=true
      - GITEA__service__DISABLE_REGISTRATION=true
      - GITEA_ADMIN_USER=${GITEA_ADMIN_USERNAME:-openhexa}
      - GITEA_ADMIN_PASSWORD=${GITEA_ADMIN_PASSWORD:-openhexa}
      - GITEA_ADMIN_EMAIL=admin@openhexa.local
    volumes:
      - gitea_data:/data
      - ./gitea/entrypoint.sh:/custom-entrypoint.sh:ro
    networks:
      - openhexa

  # Dev tools
  ############

  mailhog:
    image: mailhog/mailhog:latest
    ports:
      - "1025:1025"
      - "8025:8025"
    networks:
      - openhexa


  # Legacy services
  ################

  # This service is only used for the connector_accessmod app.
  accessmod_dataworker:
    <<: *common
    command: "manage validate_fileset_worker"
    restart: unless-stopped
    profiles:
      - "accessmod"
    depends_on:
      - db

networks:
  openhexa:
    name: openhexa
    external: true

volumes:
  pgdata:
  minio_data:
  gitea_data:
