ariadne
boto3
colorhash
coverage
cryptography
Django
django-cors-headers
django-countries
django-ltree
django-postgres-queue
django-tailwind
gunicorn
markdown
pandas
psycopg2-binary
stringcase
tblib
whitenoise
sentry-sdk
django-debug-toolbar
tqdm

# connector_dhis2
dhis2.py

# connector_s3
s3fs
moto[s3]

# connector_airflow
google-auth

# meta
pip-tools
