ariadne
boto3
colorhash
cryptography
Django
django-cors-headers
django-countries
django-debug-toolbar
django-ltree
django-postgres-queue
django-tailwind
markdown
mock
pandas
psycopg2-binary
responses
stringcase
tblib
whitenoise
sentry-sdk
tqdm

# production
google-cloud-logging
gunicorn

# connector_dhis2
dhis2.py

# connector_s3
s3fs
moto[s3]

# connector_airflow
google-auth

# meta
pip-tools

# development
coverage[toml]
