ariadne
ariadne_django
colorhash
cryptography
Django
django-cors-headers
django-countries
django-debug-toolbar
django-ltree
django-model-utils
django-postgres-queue
django-storages[google]
django-tailwind
django_otp
geopandas
markdown
pandas
psycopg2-binary
python-slugify
responses
stringcase
tblib
whitenoise
sentry-sdk
tqdm
croniter
kubernetes

# production
google-cloud-logging
gunicorn

# connector_dhis2
dhis2.py

# connector_s3
boto3==1.20.24
moto[s3]

# connector_airflow
google-auth

# connector_gcs
google-cloud-iam

# meta
pip-tools

# development
coverage[toml]

# Data worker
# (unpin or update with great caution, subtle issues can arise with new versions)
rasterio==1.2.10
rio-cogeo==3.2.0
morecantile==3.3.0
pydantic==1.10.6
gdal==3.2.2
s3fs==2022.01.0
gcsfs==2022.01.0
fsspec==2022.01.0
