coverage==5.*
Django==3.*
django-contrib-comments==2.*
django-countries==7.*
django-tailwind==1.*
gunicorn==20.*
pandas==1.*
psycopg2-binary==2.*
stringcase==1.*
tblib==1.*
whitenoise==5.*

# connector_dhis2
dhis2.py==2.*

# connector_s3
s3fs==0.*