{% load i18n %}

<script>
    const MODE_WAITING_FOR_INPUT = 'MODE_WAITING_FOR_INPUT';
    const MODE_BUSY = 'MODE_BUSY';
    const MODE_NO_RESULTS = 'MODE_NO_RESULTS';
    const MODE_RESULTS = 'MODE_RESULTS';

    let abortController = null;

    function search() {
        return {
            expanded: false,
            query: "",
            mode: MODE_WAITING_FOR_INPUT,
            results: [],
            expand() {
                this.expanded = true;
                bodyScrollLock.disableBodyScroll(this.$refs.modalContent);
                setTimeout(() => this.$refs.search.focus(), 100);
            },
            collapse() {
                this.expanded = false
                bodyScrollLock.enableBodyScroll(this.$refs.modalContent);
            },
            toggle() {
                this.expanded ? this.collapse() : this.expand()
            },
            async check() {
                if (this.query.length >= 3) {
                    await this.submit();
                } else {
                    this.waitForInput();
                }
            },
            async submit() {
                if (abortController !== null) {
                    abortController.abort();
                }
                abortController = new AbortController();
                this.mode = MODE_BUSY;
                this.results = [];
                try {
                    const response = await fetch(`${this.$refs.form.action}?query=${this.query}`, {
                        method: this.$refs.form.method,
                        headers: {'Content-Type': 'application/json'},
                        signal: abortController.signal
                    });
                    const responeData = await response.json();
                    this.results = responeData.results;
                    const newMode = this.results.length > 0 ? MODE_RESULTS : MODE_NO_RESULTS;
                    this.mode = newMode;
                    abortController = null;
                } catch (e) {
                    if(e.message.includes("abort")) {
                        console.info("Aborting")
                    } else {
                        console.error(`Error while submitting search: ${e}`);
                    }
                }
            },
            waitForInput() {
                console.log(`Waiting for input`);

                this.mode = MODE_WAITING_FOR_INPUT;
                this.results = [];
            },
        }
    }
</script>

<div x-data="search()">
    {% include "partials/search/search_button.html" %}
    {% include "partials/search/search_modal.html" %}
</div>