[tool.ruff]
ignore = ["E501"]
exclude =[".git",".eggs","node_modules", ".local", ".vscode", ".cache"] # exclude a few common directories in the root of the project

[tool.ruff.lint]
extend-select = [
    "D",   # pydocstyle
    "I",   # isort
    "UP",  # pyupgrade
    "ANN", # flake8-annotations
]
# Disable all "missing docstrings" and "missing type annotations" rules for now
# TODO: Enable progressively the following rules
ignore = [
    "ANN001",
    "ANN002",
    "ANN003",
    "ANN101",
    "ANN102",
    "ANN201",
    "ANN202",
    "ANN204",
    "ANN205",
    "ANN206",
    "ANN401",
    "D100",
    "D101",
    "D102",
    "D103",
    "D104",
    "D105",
    "D106",
    "D200",
    "D205",
    "D400",
    "D401",
    "D404"
]

[tool.ruff.lint.pydocstyle]
convention = "numpy" # Accepts: "google", "numpy", or "pep257".

[tool.coverage.report]
exclude_lines = [
    # Have to re-enable the standard pragma
    "pragma: no cover",

    # Don't complain about missing debug-only code:
    "def __repr__",
    "if self\\.debug",

    # Don't complain if tests don't hit defensive assertion code:
    "raise AssertionError",
    "raise NotImplementedError",

    # Don't complain if non-runnable code isn't run:
    "if 0:",
    "if __name__ == .__main__.:",
]

omit = [
    "*/__init__.py",
    "*/migrations/*",
    "*/tests/*",
    "config/*",
    "*/admin.py",
    "*/apps.py",
    "*/urls.py",
    "manage.py",
]
