{% load embed %}

<div
        class="my-8"
        {% if refresh_url %}
            x-data="AutoRefresh('{{ refresh_url }}', {{ refresh_delay|default:10 }})"
            x-init="init($el)"
            x-html="refreshedHtml"
        {% endif %}
        {% if id %}id="{{ id }}"{% endif %}
>
    {% slot header %}
        {% include "partials/section_heading_simple.html" with title="Untitled section" %}
    {% endslot %}
    <div class="mt-4">
        {% slot content %}
            {% include "partials/block_placeholder.html" %}
        {% endslot %}
    </div>
</div>
