{% load date_utils i18n %}

<li>
    <div class="relative pb-8">
        {% if not last %}
            <span class="absolute top-5 left-5 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
        {% endif %}
        <div class="relative flex items-start space-x-3">
            <div class="relative">
                {% include "core/components/avatar.html" with initials=comment.user.initials %}
                <span class="absolute -bottom-0.5 -right-1 bg-white rounded-tl px-0.5 py-px">
                    {% include "comments/components/chat_alt.html" %}
                </span>
            </div>
            <div class="min-w-0 flex-1">
                <div>
                    <div class="text-sm">
                        <a href="#" class="font-medium text-gray-900">{{ comment.user_name }}</a>
                    </div>
                    <p class="mt-0.5 text-sm text-gray-500">
                        {% if comment.created_at|about_now %}
                            {% translate "Just now" %}
                        {% else %}
                            {{ comment.created_at|timesince }} {% translate "ago" %}
                        {% endif %}

                    </p>
                </div>
                <div class="mt-2 text-sm text-gray-700">
                    <p>
                        {{ comment.text }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</li>