{% load embed i18n static %}
<div x-data="Commentable('{% url "comments:post_comment" %}', '{{ content_type_key }}', '{{ object_id }}')">
    {% embed "core/components/section/page_section.html" %}
        {% slot header %}
            {% include "core/components/section/section_heading_simple.html" with title=_("Feed") %}
        {% endslot %}
        {% slot content %}
            <div class="bg-white overflow-hidden shadow sm:rounded-lg">
                <div class="px-4 py-5 sm:p-6">
                    <div class="flow-root">
                        <ul class="-mb-8">
                            {% include "comments/components/comment_form.html" %}
                            {% for comment in comments %}
                                {% include "comments/components/feed_item.html" with last=forloop.last %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endslot %}
    {% endembed %}
</div>