{% load embed i18n %}

<li x-ref="form-container">
    <div class="relative pb-4">
        <div class="relative flex items-start space-x-3">
            <div class="relative">
                {% include "core/components/avatar.html" %}
                <span class="absolute -bottom-0.5 -right-1 bg-white rounded-tl px-0.5 py-px">
                    {% include "comments/components/chat_alt.html" %}
                </span>
            </div>
            <div class="min-w-0 flex-1">
                <form method="post" class="text-sm text-gray-700 flex flex-col">
                    <label for="comment" class="sr-only">{% translate "Comment" %}</label>
                    <textarea
                            id="comment"
                            name="comment"
                            rows="3"
                            class="resize-none max-w-2xl shadow-sm block w-full focus:ring-blue-500 focus:border-blue-500 sm:text-sm border-gray-300 rounded-md"
                            placeholder="Add a comment"
                            x-model="text"
                            x-ref="textarea"
                            @keyup="startCommenting($event)"
                    ></textarea>
                    <div class="h-12 flex items-center space-x-2" x-show="commenting">
                        {% embed "core/components/buttons/button.html" with size="xs" color="neutral" label=_("Cancel") %}
                            {% slot extra_attrs %}@click="cancel($event)"{% endslot %}
                        {% endembed %}
                        {% embed "core/components/buttons/button.html" with size="xs" color="primary" label=_("Save") %}
                            {% slot extra_attrs %}@click="submit($event)"{% endslot %}
                        {% endembed %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</li>