{% load contenttypes embed i18n static %}

{% embed "ui/section/section.html" with title=_("Comments") %}
    {% slot extra_wrapper_attrs %}
        x-data="Commentable('{% url "comments:post_comment" %}', '{{ object.index.id }}')"
    {% endslot %}
    {% slot content %}
        <div class="bg-white overflow-hidden shadow sm:rounded-lg">
            <div class="px-4 py-5 sm:p-6">
                <div class="flow-root">
                    <ul class="-mb-8">
                        {% include "comments/components/form.html" %}

                        {% for comment in object.index.comment_set.all %}
                            {% include "comments/components/comment.html" with last=forloop.last %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endslot %}
{% endembed %}
