{% extends "layouts/page.html" %}
{% load i18n embed static date_utils %}

{% block page_title %}{% translate "Data pipelines" %}{% endblock %}

{% block page_content %}
    {{ environment_grid }}
    {% url "pipelines:index_refresh" as refresh_url %}
    {% embed "ui/dynamic/autorefresh.html" with url=refresh_url %}
        {% slot content %}
            {% embed "ui/section/section.html" with title=_("Last pipeline runs") %}
                {% slot content %}
                    {{ run_grid }}
                {% endslot %}
            {% endembed %}
        {% endslot %}
    {% endembed %}
{% endblock %}
