<html>
  <header>
    <title>Pipeline Status</title>
    <style>
      body {
        font-family: Verdana;
        font-size: 12px;
        padding: 30px;
      }
      table {
        border-collapse: collapse;
      }
      td, th {
        border: 1px solid black;
        padding: 10px;
      }
    </style>
  </header>
  <body>
    <h1>Pipeline Status</h1>
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Created</th>
          <th>Name</th>
          <th>Entrypoint</th>
          <th>Parameters</th>
          <th>Config</th>
          <th>Schedule</th>
        </tr>
      </thead>
      <tbody>
        {% for pipeline in pipelines %}
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
