<html>
  <head>
    <title>Pipeline Status</title>
    <meta http-equiv="refresh" content="120">
    <style>
      body {
        font-family: Verdana;
        font-size: 10px;
        padding: 0px;
        margin: 0px;
      }
      table {
        border-collapse: collapse;
        font-size: 10px;
        display: block;
      }
      td, th {
        border: 1px solid black;
        padding: 10px;
      }
    </style>
  </head>
  <body>
    <div style="position: relative">
      <div style="padding: 30px; position: absolute">
        <h1>Pipelines</h1>
        <table>
          <thead>
            <tr>
              <th>Id</th>
              <th>Created</th>
              <th>Name</th>
              <th>Workspace</th>
              <th>Entrypoint</th>
              <th>Parameters</th>
              <th>Config</th>
              <th>Schedule</th>
            </tr>
          </thead>
          <tbody>
            {% for pipeline in pipelines %}
            <tr>
              <td>{{ pipeline.id }}</td>
              <td>{{ pipeline.created_at }}</td>
              <td>{{ pipeline.name }}</td>
              <td>{{ pipeline.workspace.slug }}</td>
              <td>{{ pipeline.last_version.parameters }}</td>
              <td>{{ pipeline.config }}</td>
              <td>{{ pipeline.schedule }}</td>
            {% endfor %}
          </tbody>
        </table>

        <h1 style="margin-top: 50px">Pipeline Runs</h1>
        <table>
          <thead>
            <tr>
              <th>Id</th>
              <th>User</th>
              <th>PipelineName</th>
              <th>PipelineVersion</th>
              <th>RunId</th>
              <th>Trigger</th>
              <th>ExecutionTime</th>
              <th>LastHeartbeat</th>
              <th>Duration</th>
              <th>Config</th>
              <th>State</th>
              <th>Messages</th>
              <th>Outputs</th>
              <th>Logs</th>
            </tr>
          </thead>
          <tbody>
            {% for run in pipeline_runs %}
            <tr>
              <td>{{ run.id }}</td>
              <td>{{ run.user.email }}</td>
              <td>{{ run.pipeline.name }}</td>
              <td>{{ run.pipeline_version.number }}</td>
              <td>{{ run.run_id }}</td>
              <td>{{ run.trigger_mode }}</td>
              <td>{{ run.execution_date }}</td>
              <td>{{ run.last_heartbeat }}</td>
              <td>{{ run.duration }}</td>
              <td>{{ run.config }}</td>
              {% if run.state == "queued" %}
              <td style="background-color: #ededed">{{ run.state }}</td>
              {% elif run.state == "running" %}
              <td style="background-color: #fffb98">{{ run.state }}</td>
              {% elif run.state == "failed" %}
              <td style="background-color: #efbf88">{{ run.state }}</td>
              {% elif run.state == "success" %}
              <td style="background-color: #d3ef88">{{ run.state }}</td>
              {% else %}
              <td>{{ run.state }}</td>
              {% endif %}
              <td>
                <ul style="padding-left: 5px; margin: 0px">
                  {% for message in run.messages %}
                    <li>{{ message.timestamp }}, {{ message.priority }}: {{ message.message }}</li>
                  {% endfor %}
                </ul>
              </td>
              <td>
                <ul style="padding-left: 5px; margin: 0px">
                  {% for output in run.outputs %}
                    <li>{{ output.timestamp }}, {{ output.name }} ({{ output.type }}): {{ output.uri }}</li>
                  {% endfor %}
                </ul>
              </td>
              <td>
                <pre style="margin: 0px; max-width: 600px; overflow: scroll">{{ run.run_logs }}</pre>
              </td>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
