{% load embed i18n %}

{% embed "ui/section/section.html" with title=_("Overview") %}
    {% slot content %}
        <div class="grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3">
            <!-- Card -->
            <div class="bg-white overflow-hidden shadow rounded-lg">
                <div class="p-5">
                    <div class="flex items-center">
                        <div class="flex-shrink-0">
                            <!-- Heroicon name: scale -->
                            <svg class="w-6 h-6 text-cool-gray-400" fill="none" stroke="currentColor"
                                 viewBox="0 0 24 24"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M16 4v12l-4-2-4 2V4M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
                            </svg>
                        </div>
                        <div class="ml-5 w-0 flex-1">
                            <dl>
                                <dt class="text-sm leading-5 font-medium text-cool-gray-500 truncate">
                                    {% translate "Datasources" %}
                                </dt>
                                <dd>
                                    <div class="text-lg leading-7 font-medium text-cool-gray-900">
                                        {{ counts.datasources }}
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="bg-cool-gray-50 px-5 py-3">
                    <div class="text-sm leading-5">
                        <a href="{% url 'catalog:index' %}"
                           class="font-medium text-blue-600 hover:text-blue-900 transition ease-in-out duration-150">
                            {% translate "View all" %}
                        </a>
                    </div>
                </div>
            </div>

            <!-- Card -->
            <div class="bg-white overflow-hidden shadow rounded-lg">
                <div class="p-5">
                    <div class="flex items-center">
                        <div class="flex-shrink-0">
                            <!-- Heroicon name: scale -->
                            <svg class="w-6 h-6 text-cool-gray-400" fill="none" stroke="currentColor"
                                 viewBox="0 0 24 24"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253"></path>
                            </svg>
                        </div>
                        <div class="ml-5 w-0 flex-1">
                            <dl>
                                <dt class="text-sm leading-5 font-medium text-cool-gray-500 truncate">
                                    {% translate "Notebooks" %}
                                </dt>
                                <dd>
                                    <div class="text-lg leading-7 font-medium text-cool-gray-900">
                                        {{ counts.notebooks }}
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="bg-cool-gray-50 px-5 py-3">
                    <div class="text-sm leading-5">
                        <a href="{% url "notebooks:index" %}"
                           class="font-medium text-blue-600 hover:text-blue-900 transition ease-in-out duration-150">
                            {% translate "View all" %}
                        </a>
                    </div>
                </div>
            </div>


            <!-- Card -->
            <div class="bg-white overflow-hidden shadow rounded-lg">
                <div class="p-5">
                    <div class="flex items-center">
                        <div class="flex-shrink-0">
                            <!-- Heroicon name: scale -->
                            <svg class="w-6 h-6 text-cool-gray-400" fill="none" stroke="currentColor"
                                 viewBox="0 0 24 24"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M19.428 15.428a2 2 0 00-1.022-.547l-2.387-.477a6 6 0 00-3.86.517l-.318.158a6 6 0 01-3.86.517L6.05 15.21a2 2 0 00-1.806.547M8 4h8l-1 1v5.172a2 2 0 00.586 1.414l5 5c1.26 1.26.367 3.414-1.415 3.414H4.828c-1.782 0-2.674-2.154-1.414-3.414l5-5A2 2 0 009 10.172V5L8 4z"></path>
                            </svg>
                        </div>
                        <div class="ml-5 w-0 flex-1">
                            <dl>
                                <dt class="text-sm leading-5 font-medium text-cool-gray-500 truncate">
                                    {% translate "Pipelines" %}
                                </dt>
                                <dd>
                                    <div class="text-lg leading-7 font-medium text-cool-gray-900">
                                        {{ counts.pipelines }}
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="bg-cool-gray-50 px-5 py-3">
                    <div class="text-sm leading-5">
                        <a href="{% url "pipelines:index" %}"
                           class="font-medium text-blue-600 hover:text-blue-900 transition ease-in-out duration-150">
                            {% translate "View all" %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endslot %}
{% endembed %}