{% load embed %}

<div class="my-8" x-data="Tabs('{{ default_tab }}')">
{# TODO: mobile nav #}
{#    <div class="sm:hidden">#}
{#        <label for="tabs" class="sr-only">Select a tab</label>#}
{#        <select#}
{#                id="tabs"#}
{#                name="tabs"#}
{#                class="block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md"#}
{#        >#}
{#            <option>My Account</option>#}
{#            <option>Company</option>#}
{#            <option selected>Team Members</option>#}
{#            <option>Billing</option>#}
{#        </select>#}
{#    </div>#}
    <div class="hidden sm:block">
        <div class="border-b border-gray-200 mb-10">
            <nav class="-mb-px flex space-x-8" aria-label="Tabs">
                {% slot navigation %}{% endslot %}
            </nav>
        </div>
    </div>
    {% slot tabs %}{% endslot %}
</div>
