<td class="px-6 py-4 whitespace-nowrap">
    {% if detail_url %}<a href="{{ detail_url }}">{% endif %}
    <div class="flex items-center">
        {% if image_src or icon %}
            <div class="flex-shrink-0 h-10 w-10 flex items-center text-gray-400">
                {% if image_src %}
                    <img class="h-10 w-10 rounded-full"
                         src="{{ image_src }}"
                         alt="{{ image_alt }}">
                {% elif icon %}
                    {% include icon with w=6 h=6 %}
                {% endif %}
            </div>
        {% endif %}
        <div class="max-w-3xs{% if image_src or icon %} ml-4{% endif %}">
            {% if single or empty %}
                <div class="text-sm truncate {% if bold %}font-medium{% endif %} text-gray-900" {% if not translate %}translate="no"{% endif %} title="{{ text }}">
                  {{ text }}
                </div>
            {% else %}
                <div class="text-sm truncate font-medium text-gray-900" {% if not translate %}translate="no"{% endif %} title="{{ text }}">
                    {{ text }}
                </div>
                <div class="text-sm truncate text-gray-500" {% if not translate %}translate="no"{% endif %}>
                    {{ secondary_text }}
                </div>
            {% endif %}
        </div>
    </div>
    {% if detail_url %}</a>{% endif %}
</td>
