{% load i18n %}

<div class="bg-white px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6">
    <div class="flex-1 flex justify-between sm:hidden">
        <a
                {% if pagination.previous_page_number is not None %}href="?page={{ pagination.previous_page_number }}"{% endif %}
                class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 {% if pagination.previous_page_number is None %} opacity-50 cursor-not-allowed{% endif %}"
        >
            {% translate "Previous" %}
        </a>
        <a
                {% if pagination.next_page_number is not None %}href="?page={{ pagination.next_page_number }}"{% endif %}
                class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50{% if pagination.next_page_number is None %} opacity-50 cursor-not-allowed{% endif %}"
        >
            {% translate "Next" %}
        </a>
    </div>
    <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
        <div>
            <p class="text-sm text-gray-700">
                {% blocktranslate with start_index=pagination.start_index end_index=pagination.end_index item_label=pagination.item_label total_count=pagination.total_count %}
                    Showing <span class="font-medium">{{ start_index }}</span> to
                    <span class="font-medium">{{ end_index }}</span> of
                    <span class="font-medium">{{ total_count }}</span> {{ item_label }}
                {% endblocktranslate %}
            </p>
        </div>
        <div>
            <nav class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">
                <a
                        {% if pagination.previous_page_number is not None %}href="?page={{ pagination.previous_page_number }}"{% endif %}
                        class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50{% if pagination.previous_page_number is None %} opacity-50 cursor-not-allowed{% endif %}"
                >
                    <span class="sr-only">{% translate "Previous" %}</span>
                    {% include "ui/icons/chevron_left.html" %}
                </a>
                {% for page_number in pagination.range %}
                    {% if something_special %}
                        <span class="relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-700">
                          ...
                        </span>
                    {% else %}
                        <a
                                href="?page={{ page_number }}"
                                {% if pagination.current_page_number == page_number %}aria-current="page"{% endif %}
                                class="relative inline-flex items-center px-4 py-2 border text-sm font-medium {% if pagination.current_page_number == page_number %}z-10 bg-blue-50 border-blue-500 text-blue-600{% else %}bg-white border-gray-300 text-gray-500 hover:bg-gray-50{% endif %}"
                        >
                            {{ page_number }}
                        </a>
                    {% endif %}
                {% endfor %}
                <a
                        {% if pagination.next_page_number is not None %}href="?page={{ pagination.next_page_number }}"{% endif %}
                        class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50{% if pagination.next_page_number is None %} opacity-50 cursor-not-allowed{% endif %}"
                >
                    <span class="sr-only">{% translate "Next" %}</span>
                    {% include "ui/icons/chevron_right.html" %}
                </a>
            </nav>
        </div>
    </div>
</div>