{% load static i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OpenHexa | {% block page_title %}{% translate "Untitled page" %}{% endblock %}</title>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <!-- The following snippet is used to mask AlpineJS cloaked content on page load -->
    <style type="text/css">
        [x-cloak] {
            display: none;
        }
    </style>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <link rel="shortcut icon" href="{% static "img/favicon.png" %}">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/body-scroll-lock@3.1.5/lib/bodyScrollLock.min.js" defer></script>
    <script src="{% static "js/hexa.js" %}"></script>
</head>

<body>
<div class="min-h-screen bg-gray-100 flex flex-col">
    {% block body %}{% endblock %}
</div>
</body>
</html>
