{% extends "layouts/base_with_nav.html" %}

{% block main_content %}
    {% include "partials/messages.html" %}
    <div class="relative">
        {% if breadcrumbs %}
            <div class="my-8 max-w-7xl mx-auto sm:px-6 lg:px-8">
                {% include "partials/breadcrumbs.html" %}
            </div>
        {% endif %}
        <main class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            {% block extra %}{% endblock %}
            {% block page_content %}
                <div class="px-4 py-8 sm:px-0">
                    <div class="border-4 border-dashed border-gray-200 rounded-lg h-96">
                        Override the "page_content" block in your template
                    </div>
                </div>
            {% endblock %}
        </main>
    </div>
{% endblock %}
