{% load i18n %}
{% autoescape off %}

{% if user is None %}
    {% blocktranslate %}
    You have been invited to join <b>{{workspace}}</b> workspace by {{owner}} on OpenHEXA.

    {% endblocktranslate %}

    {% blocktranslate %}
        <p>
            <a href="{{ url }}">Create your account</a>&nbsp;to join the workspace.
        </p>
    {%  endblocktranslate%}
{% else %}
    {% blocktranslate %}
    You have been added to the workspace <b>{{workspace}}</b> by {{owner}}.
    {% endblocktranslate %}

    {% translate "Please go to the following page to review your invitations:" %}
    <p>
        <a href="{{ url }}">{% translate "Manage invitations" %}</a>
    </p>
{% endif %}

<br/>
<br/>
{% blocktranslate %}The OpenHEXA team{% endblocktranslate %}

{% endautoescape %}
