{% load colors date_utils embed i18n static %}

{% embed "core/components/section/page_section.html" %}
    {% slot header %}
        {% include "core/components/section/section_heading_simple.html" with title=_("Last pipeline runs") %}
    {% endslot %}
    {% slot content %}
        {% embed "core/components/table/table.html" %}
            {% slot header_cells %}
                {% include "core/components/table/header_cell.html" with label=_("Run ID") %}
                {% include "core/components/table/header_cell.html" with label=_("Configuration") %}
                {% include "core/components/table/header_cell.html" with label=_("Execution date") %}
                {% include "core/components/table/header_cell.html" with label=_("State") %}
                {% include "core/components/table/header_cell.html" with label=_("Last refreshed at") %}
            {% endslot %}
            {% slot rows %}
                {% for run in dag_config_runs %}
                    {% embed "core/components/table/row.html" %}
                        {% slot content %}
                            {# Run ID #}
                            {% include "core/components/table/cell_first.html" with label=run.airflow_run_id %}
                            {# Configuration #}
                            {% include "core/components/table/cell.html" with label=run.dag_config.display_name %}
                            {# Execution date #}
                            {% include "core/components/table/cell.html" with label=run.airflow_execution_date|date_format %}
                            {# State #}
                            {% include "core/components/table/cell_badge.html" with label=run.get_airflow_state_display color=run|status_color %}
                            {# Last refreshed at #}
                            {% include "core/components/table/cell.html" with label=run.last_refreshed_at|date_format %}
                        {% endslot %}
                    {% endembed %}
                {% empty %}
                    {% include "core/components/table/cell_empty.html" with colspan=5 %}
                {% endfor %}
            {% endslot %}
        {% endembed %}
    {% endslot %}
{% endembed %}
