{% extends "partials/page_card.html" %}
{% load static %}

{% block card_title %}
<div class="flex align items-center">
    <img class="h-10 w-10 rounded-full mr-2"
         src="{% static 'img/logos/'|add:datasource.type.code|add:'.png' %}"
         alt="{{ datasource.type.label }}">
    {{ datasource.name }}
</div>
{% endblock %}

{% block card_header_extra %}
<div class="ml-4 mt-2 flex-shrink-0">
    <button type="button"
            class="relative inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        <svg class="-ml-1 mr-3 h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"
             xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"></path>
        </svg>
        Edit
    </button>
</div>
{% endblock %}

{% block card_content %}
YAY
{% endblock %}