{% load static %}

<tr>
    <td class="px-6 py-4 whitespace-nowrap">
        <a class="flex items-center" href="{% url 'catalog:datasource_detail' datasource.id %}">
                <span class="block flex-shrink-0 h-10 w-10">
                    <img class="h-10 w-10 rounded-full"
                         src="{% static 'img/logos/'|add:datasource.source_type|lower|add:'.png' %}"
                         alt="{{ datasource.source_type.label }}">
                </span>
            <span class="block ml-4">
                <span class="block text-sm font-medium text-gray-900">
                    {{ datasource.name }}
                </span>
                <span class="block text-sm text-gray-500">
                    {{ datasource.source_type.label }}
                </span>
            </span>
        </a>
    </td>
    <td class="px-6 py-4 whitespace-nowrap">
        <div class="text-sm text-gray-900">{{ datasource.owner.display_name|default:"-" }}</div>
        <div class="text-sm text-gray-500">{{ datasource.owner.type.label }}</div>
    </td>
    <td class="px-6 py-4 whitespace-nowrap">
        <div class="text-sm text-gray-900 flex items-center align-center">
            {% for country in datasource.countries %}
                <img class="mr-2" src="{{ country.flag }}" alt="{{ country.name }}"/>
                {{ country.alpha3|default:country.name }}
            {% empty %}
                Global
            {% endfor %}
        </div>
    </td>
    <td class="px-6 py-4">
        <span class="text-sm text-gray-500 whitespace-nowrap mr-1">{{ datasource.content.quantity }}</span>
        {% for tag in datasource.content.tags %}
            <span class="mr-1 px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-{{ tag.color }}-100 text-{{ tag.color }}-800">
            {{ tag.label }}
        </span>
        {% endfor %}
    </td>
    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
        <div class="text-sm font-medium text-gray-900">
            {% if datasource.last_synced_at %}
                {{ datasource.last_synced_at|timesince }} ago
            {% else %}
                <div class="flex align-center items-center">
                    <span>Not synced</span>
                    <form class="ml-2">
                        <button type="button"
                                class="inline-flex items-center p-1 border border-transparent rounded-full shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                            <svg class="h-4 w-4" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15"></path>
                            </svg>
                        </button>
                    </form>
                </div>
            {% endif %}

        </div>
        <div class="text-sm text-gray-500">
            {{ datasource.update_frequency.label|default:"Daily" }}
        </div>
    </td>
    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
        <a href="{% url 'catalog:datasource_detail' datasource.id %}"
           class="text-indigo-600 hover:text-indigo-900 flex justify-end">
            View
            <div class="ml-1 flex-shrink-0">
                <!-- Heroicon name: chevron-right -->
                <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                     fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd"
                          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                          clip-rule="evenodd"/>
                </svg>
            </div>
        </a>
    </td>
</tr>
