{% load static %}

<tr>
    <td class="px-6 py-4 whitespace-nowrap">
        <div class="flex items-center">
            <div class="flex-shrink-0 h-10 w-10">
                <img class="h-10 w-10 rounded-full"
                     src="{% static 'img/logos/'|add:datasource.type.code|add:'.png' %}"
                     alt="{{ datasource.type.label }}">
            </div>
            <div class="ml-4">
                <div class="text-sm font-medium text-gray-900">
                    {{ datasource.name }}
                </div>
                <div class="text-sm text-gray-500">
                    {{ datasource.type.label }}
                </div>
            </div>
        </div>
    </td>
    <td class="px-6 py-4 whitespace-nowrap">
        <div class="text-sm text-gray-900">{{ datasource.source.name }}</div>
        <div class="text-sm text-gray-500">{{ datasource.source.type.label }}</div>
    </td>
    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
        {{ datasource.datasets_count }} dataset{{ datasource.datasets_count|pluralize:",s" }}
        {% for tag in datasource.tags %}
        <span class="ml-2 px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-{{ tag.color }}-100 text-{{ tag.color }}-800">
            {{ tag.label }}
        </span>
        {% endfor %}
    </td>
    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
        <div class="text-sm font-medium text-gray-900">
            {{ datasource.last_updated_on|timesince }} ago
        </div>
        <div class="text-sm text-gray-500">
            {{ datasource.update_frequency.label }}
        </div>
    </td>
    <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
        <a href="{% url 'catalog:detail' datasource.id %}" class="text-indigo-600 hover:text-indigo-900 flex">
            View
            <div class="ml-1 flex-shrink-0">
                <!-- Heroicon name: chevron-right -->
                <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                     fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd"
                          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                          clip-rule="evenodd"/>
                </svg>
            </div>
        </a>

    </td>
</tr>