{% if method|lower == "post" %}
    <form method="{{ method }}" action="{{ url }}">
        {% if method|lower == "post" %}{% csrf_token %}{% endif %}
        <button
                type="submit"
                class="inline-flex items-center px-3 py-2 border shadow-sm text-sm leading-4 font-medium rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 {% if primary %}border-transparent text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-500{% else %}text-gray-700 bg-white hover:bg-gray-50 focus:ring-blue-500{% endif %}"
        >
            {% include "ui/icons/"|add:icon|add:".html" with mr=2 %}
            {{ label }}
        </button>
    </form>
{% else %}
    <a
            href="{{ url }}"
            {% if open_in_new_tab %}target="_blank" rel="noopener" {% endif %}
            class="inline-flex items-center px-3 py-2 border shadow-sm text-sm leading-4 font-medium rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 {% if primary %}border-transparent text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-500{% else %}text-gray-700 bg-white hover:bg-gray-50 focus:ring-blue-500{% endif %}"
    >
        {% include "ui/icons/"|add:icon|add:".html" with mr=2 %}
        {{ label }}
    </a>
{% endif %}

