<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-white shadow overflow-hidden sm:rounded-lg">
    <div class="px-4 py-5 sm:px-6">
        <h2 class="text-lg leading-6 font-medium text-gray-900">
            {{ title }}
        </h2>
        <p class="mt-1 max-w-2xl text-sm text-gray-500">
            {{ subtitle }}
        </p>
    </div>
    {% if property_data|length > 0 %}
        {% include "ui/datacard/section.html" with property_data=property_data only %}
    {% endif %}
    {% if section_data|length > 0 %}
        {% for section in section_data %}
            {% include section.template with title=section.title property_data=section.property_data only %}
        {% endfor %}
    {% endif %}
</div>
