<div class="bg-white px-4 py-5 sm:px-6">
    <div class="-ml-4 -mt-4 flex justify-between items-center flex-wrap sm:flex-nowrap">
        <div class="ml-4 mt-4">
            <div class="flex items-center">
                <div class="flex-shrink-0">
                    {% if image_src %}
                        <img class="h-12 w-12 rounded-full"
                             src="{{ image_src }}"
                             alt="{{ subtitle }}">
                    {% endif %}
                </div>
                <div class="ml-4">
                    <h3 class="text-lg leading-6 font-medium text-gray-900">
                        {{ title }}
                    </h3>
                    <p class="text-sm text-gray-500">
                        <a href="#">
                            {{ subtitle }}
                        </a>
                    </p>
                </div>
            </div>
        </div>
        {% if action_data|length > 0 %}
            <div class="ml-4 mt-4 flex-shrink-0 flex">
                {% for action in action_data %}
                    {% include action.template with data=action.data %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>