{% extends "ui/datacard/input_property.html" %}

{% block input %}
        {% if data.markdown %}
            <textarea
                    type="text"
                    name="email"
                    id="email"
                    class="shadow-sm focus:ring-blue-500 focus:border-blue-500 block w-full sm:text-sm border-gray-300 rounded-md"
                    placeholder="you@example.com"
            >

            </textarea>
        {% else %}
            <input
                    type="text"
                    name="email"
                    id="email"
                    class="shadow-sm focus:ring-blue-500 focus:border-blue-500 block w-full sm:text-sm border-gray-300 rounded-md"
                    placeholder="you@example.com"
            >
        {% endif %}
{% endblock %}