{% extends "ui/datacard/property.html" %}

{% block value %}
    {% if url is None %}
        -
    {% else %}
        <a
                href="{{ url }}"
                {% if external %}target="_blank" rel="noopener"{% endif %}
                class="block text-blue-600 hover:text-blue-500 focus:outline-none flex items-center"
        >
            {{ text }}
            {% if external %}{% include "ui/icons/external_link.html" with w=4 h=4 ml=1 %}{% endif %}
        </a>
    {% endif %}
{% endblock %}