{% load static i18n connectors %}

{% connector_static_dir datasource as connector_static_dir %}
{% connector_app_label datasource as connector_app_label %}
{% url connector_app_label|add:':datasource_detail' datasource.pk as detail_url %}

<tr>
    <td class="px-6 py-4 whitespace-nowrap">
        <a class="flex items-center" href="{{ detail_url }}">
                <span class="block flex-shrink-0 h-10 w-10">
                    <img class="h-10 w-10 rounded-full"
                         src="{% static connector_static_dir|add:"img/symbol.svg" %}"
                         alt="{{ datasource.get_datasource_type_display }}">
                </span>
            <span class="block ml-4">
                <span class="block text-sm font-medium text-gray-900">
                    {{ datasource.name }}
                </span>
                <span class="block text-sm text-gray-500">
                    {{ datasource.get_datasource_type_display }}
                </span>
            </span>
        </a>
    </td>
    <td class="px-6 py-4 whitespace-nowrap">
        <div class="text-sm text-gray-900">{{ datasource.owner.display_name|default:"-" }}</div>
        <div class="text-sm text-gray-500">{{ datasource.owner.get_organization_type_display }}</div>
    </td>
    <td class="px-6 py-4 whitespace-nowrap">
        <div class="text-sm text-gray-900 flex items-center align-center">
            {% for country in datasource.countries %}
                <img class="mr-2" src="{{ country.flag }}" alt="{{ country.name }}"/>
                {{ country.alpha3|default:country.name }}
            {% empty %}
                {% translate "Global" %}
            {% endfor %}
        </div>
    </td>
    <td class="px-6 py-4">
        <span class="text-sm text-gray-500 whitespace-nowrap mr-1">
            {% if datasource.content_summary %}
                {% blocktranslate with count=datasource.content_summary.total count_pluralization=datasource.content_summary.total|pluralize %}
                    {{ count }} item{{ count_pluralization }}
                {% endblocktranslate %}
            {% else %}
                -
            {% endif %}
        </span>
        {% for tag in datasource.content.tags %}
            <span class="mr-1 px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-{{ tag.color }}-100 text-{{ tag.color }}-800">
            {{ tag.label }}
        </span>
        {% endfor %}
    </td>
    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
        <div class="text-sm font-medium text-gray-900">
            {% include "catalog/partials/datasource_sync_info.html" %}
        </div>
        <div class="text-sm text-gray-500">
            {% translate "Daily" %}
        </div>
    </td>
    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
        <a href="{{ detail_url }}"
           class="text-blue-600 hover:text-blue-900 flex justify-end">
            {% translate "View" %}
            <div class="ml-1 flex-shrink-0">
                {% include "partials/icons/chevron_right.html" %}
            </div>
        </a>
    </td>
</tr>
