{% load static %}

<tr>
    <td class="px-6 py-4 whitespace-nowrap">
        <a class="flex items-center" href="{% url 'catalog:datasource_detail' datasource.id %}">
                <span class="block flex-shrink-0 h-10 w-10">
                    <img class="h-10 w-10 rounded-full"
                         src="{% static 'img/logos/'|add:datasource.datasource_type|lower|add:'.png' %}"
                         alt="{{ datasource.datasource_type_label }}">
                </span>
            <span class="block ml-4">
                <span class="block text-sm font-medium text-gray-900">
                    {{ datasource.name }}
                </span>
                <span class="block text-sm text-gray-500">
                    {{ datasource.datasource_type_label }}
                </span>
            </span>
        </a>
    </td>
    <td class="px-6 py-4 whitespace-nowrap">
        <div class="text-sm text-gray-900">{{ datasource.owner.display_name|default:"-" }}</div>
        <div class="text-sm text-gray-500">{{ datasource.owner.organization_type_label }}</div>
    </td>
    <td class="px-6 py-4 whitespace-nowrap">
        <div class="text-sm text-gray-900 flex items-center align-center">
            {% for country in datasource.countries %}
                <img class="mr-2" src="{{ country.flag }}" alt="{{ country.name }}"/>
                {{ country.alpha3|default:country.name }}
            {% empty %}
                Global
            {% endfor %}
        </div>
    </td>
    <td class="px-6 py-4">
        <span class="text-sm text-gray-500 whitespace-nowrap mr-1">
            {% if datasource.content_summary %}
                {% with total_count=datasource.content_summary.total_count %}
                    {{ total_count }} item{{ total_count|pluralize }}
                {% endwith %}
            {% else %}
                -
            {% endif %}
        </span>
        {% for tag in datasource.content.tags %}
            <span class="mr-1 px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-{{ tag.color }}-100 text-{{ tag.color }}-800">
            {{ tag.label }}
        </span>
        {% endfor %}
    </td>
    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
        <div class="text-sm font-medium text-gray-900">
            {% include "catalog/partials/datasource_sync_info.html" %}
        </div>
        <div class="text-sm text-gray-500">
            Daily
        </div>
    </td>
    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
        <a href="{% url 'catalog:datasource_detail' datasource.id %}"
           class="text-indigo-600 hover:text-indigo-900 flex justify-end">
            View
            <div class="ml-1 flex-shrink-0">
                <!-- Heroicon name: chevron-right -->
                <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                     fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd"
                          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                          clip-rule="evenodd"/>
                </svg>
            </div>
        </a>
    </td>
</tr>
