{% load embed %}

{# https://tailwindui.com/components/application-ui/headings/card-headings#component-e772a4f0088a3ec0ac950b1eb0351989 #}
<div class="bg-white px-4 py-5 sm:px-6">
    <div class="-ml-4 -mt-4 flex justify-between items-center flex-wrap sm:flex-nowrap">
        <div class="ml-4 mt-4">
            <div class="flex items-center">
                <div class="flex-shrink-0">
                    <img class="h-12 w-12 rounded-full"
                         src="{{ image_src }}"
                         alt="{{ image_alt }}">
                </div>
                <div class="ml-4">
                    <h3 class="text-lg leading-6 font-medium text-gray-900">
                        {{ title }}
                    </h3>
                    {% if subtitle %}
                        <p class="text-sm text-gray-500">
                            {{ subtitle }}
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="ml-4 mt-4 flex-shrink-0 flex">
            {% slot actions %}{% endslot %}
        </div>
    </div>
</div>