{% load colors embed %}

{# https://tailwindui.com/components/application-ui/headings/card-headings#component-c8f5fb604fcc6cf6614aab0bfec6a3f2 #}
{% with button_variant=variant|default:"white" %}
    <a
            href="{{ url }}"
            type="button"
            class="ml-2 inline-flex items-center px-3 py-2 border border-{{ button_variant|color:"border" }} shadow-sm text-sm leading-4 font-medium rounded-md text-{{ button_variant|color:"text" }} bg-{{ button_variant|color:"bg" }} hover:bg-{{ button_variant|color:"hover:bg" }} focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-{{ button_variant|color:"focus:ring" }}"
    >
        <span class="mr-2">{% slot icon %}{% endslot %}</span>
        <span>{{ label }}</span>
    </a>
{% endwith %}