{% load colors embed sizes %}

{% with sv=size|default:"md" cv=color|default:"primary" %}
    <button
            type="button"
            class="inline-flex items-center px-{{ sv|size:"px" }} py-{{ sv|size:"py" }} border
            border-{{ cv|color:"border" }} text-{{ sv|size:"text" }} font-medium rounded shadow-sm
            text-{{ cv|color:"text" }} bg-{{ cv|color:"bg" }} hover:bg-{{ cv|color:"hover:bg" }}
            focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-{{ cv|color:"focus:ring" }}"
            {% slot extra_attrs %}{% endslot %}
    >
        {{ label|default:_("Missing label")}}
    </button>
{% endwith %}
