{% load i18n %}

<tr>
    <td class="px-6 py-4 whitespace-nowrap">
        <a class="flex items-center" href="{% url 'dhis2connector:data_element_detail' datasource.pk item.pk %}">
            <div class="text-gray-400">
                {% if item.dhis2_domain_type == "AGGREGATE" %}
                    {% include "partials/icons/chart_bar.html" %}
                {% elif item.dhis2_domain_type == "TRACKER" %}
                    {% include "partials/icons/user_circle.html" %}
                {% else%}
                    {% include "partials/icons/exclamation.html" %}
                {% endif %}
            </div>
            <span class="block ml-4">
                <span class="block text-sm font-medium text-gray-900">
                    {{ item.display_name }}
                </span>
                <span class="block text-sm text-gray-500">
                    {{ item.dhis2_domain_type_label }}
                </span>
            </span>
        </a>
    </td>
    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
        {{ item.code|default:"-" }}
    </td>
    <td class="px-6 py-4 whitespace-nowrap">
        <div class="text-sm text-gray-900">{{ item.dhis2_value_type_label }}</div>
        <div class="text-sm text-gray-500">{{ item.dhis2_aggregation_type_label }}</div>
    </td>
    <td class="px-6 py-4">
        {% for tag in item.tags %}
            <span class="mr-1 px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-{{ tag.color }}-100 text-{{ tag.color }}-800">
            {{ tag.label }}
        </span>
        {% empty %}
            -
        {% endfor %}
    </td>
    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
        <div class="text-sm font-medium text-gray-900">
            {% if item.datasource.just_synced %}
                <span>{% translate "Just now" %}</span>
            {% elif item.datasource.last_synced_at %}
                <span>{{ item.datasource.last_synced_at|timesince }} {% translate "ago" %}</span>
            {% else %}
                <span>{% translate "Never synced" %}</span>
            {% endif %}
        </div>
        <div class="text-sm text-gray-500">
            {% translate "Daily" %}
        </div>
    </td>
    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
        <a href="#"
           class="text-blue-600 hover:text-blue-900 flex justify-end">
            View
            <div class="ml-1 flex-shrink-0">
                {% include "partials/icons/chevron_right.html" %}
            </div>
        </a>
    </td>
</tr>
