{% extends "partials/page_card.html" %}
{% load static i18n connectors %}

{% block card_header_title %}
    {{ data_element.dhis2_name }}
{% endblock %}

{% block card_header_image %}
    {% connector_static_dir datasource as connector_static_dir %}
    <img class="h-10 w-10 rounded-full mr-2"
         src="{% static connector_static_dir|add:"img/symbol.svg" %}"
         alt="{{ datasource.datasource_type_label }}">
{% endblock %}

{% block card_header_description %}
    {{ data_element.dhis2_description|default:_("No description")|truncatechars:200 }}
    {% if data_element.dhis2_description|length > 200 %}<em>({% translate "truncated" %})</em>{% endif %}
{% endblock %}

{% block card_header_actions %}
    <button type="button"
            class="relative inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
        {% include "partials/icons/pencil_alt.html" %}
        {% translate "Edit" %}
    </button>
{% endblock %}

{% block card_content %}
    <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
        <div class="sm:col-span-1">
            <dt class="text-sm font-medium text-gray-500">
                {% translate "Datasource" %}
            </dt>
            <dd class="mt-1 text-sm text-gray-900">
                <a
                        class="text-blue-600 hover:text-blue-900"
                        href="{% url "dhis2connector:datasource_detail" datasource.pk %}"
                >
                    {{ datasource.name }}
                </a>
            </dd>
        </div>
        <div class="sm:col-span-1">
            <dt class="text-sm font-medium text-gray-500">
                {% translate "DHIS2 id" %}
            </dt>
            <dd class="mt-1 text-sm text-gray-900">
                <div class="flex items-center align-center">
                    {{ data_element.external_id }}
                </div>
            </dd>
        </div>
        <div class="sm:col-span-1">
            <dt class="text-sm font-medium text-gray-500">
                {% translate "Short name" %}
            </dt>
            <dd class="mt-1 text-sm text-gray-900">
                {{ data_element.short_name|default:"-" }}
            </dd>
        </div>
        <div class="sm:col-span-2 max-w-4xl">
            <dt class="text-sm font-medium text-gray-500">
                {% translate "Description" %}
            </dt>
            <dd class="mt-1 text-sm text-gray-900">
                {{ data_element.dhis2_description|default:"-" }}
            </dd>
        </div>
        <div class="sm:col-span-1">
            <dt class="text-sm font-medium text-gray-500">
                {% translate "External access" %}
            </dt>
            <dd class="mt-1 text-sm text-gray-900">
                {{ data_element.dhis2_external_access|yesno:_("Yes,No") }}
            </dd>
        </div>
        <div class="sm:col-span-1">
            <dt class="text-sm font-medium text-gray-500">
                {% translate "Favorite" %}
            </dt>
            <dd class="mt-1 text-sm text-gray-900">
                {{ data_element.dhis2_favorite|yesno:_("Yes,No") }}
            </dd>
        </div>
        <div class="sm:col-span-1">
            <dt class="text-sm font-medium text-gray-500">
                {% translate "Creation date" %}
            </dt>
            <dd class="mt-1 text-sm text-gray-900">
                {{ data_element.dhis2_created|date:"r" }}
            </dd>
        </div>
        <div class="sm:col-span-1">
            <dt class="text-sm font-medium text-gray-500">
                {% translate "Last update" %}
            </dt>
            <dd class="mt-1 text-sm text-gray-900">
                {{ data_element.dhis2_last_updated|date:"r" }}
            </dd>
        </div>
        <div class="sm:col-span-1">
            <dt class="text-sm font-medium text-gray-500">
                {% translate "Last sync" %}
            </dt>
            <dd class="mt-1 text-sm text-gray-900">
                {% include "catalog/partials/datasource_sync_info.html" %}
            </dd>
        </div>
    </dl>
{% endblock %}
