{# https://tailwindui.com/components/application-ui/navigation/pagination#component-0797a02a34692167c369d134e7a6f9c5 #}
<nav class="bg-white px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6"
     aria-label="Pagination">
    <div class="hidden sm:block">
        {% block footer_text %}Override the "footer_text" block in your template{% endblock %}
    </div>
    <div class="flex-1 flex justify-between sm:justify-end">
        {% block footer_buttons %}Override the "footer_buttons" block in your template{% endblock %}
    </div>
</nav>
