{% load i18n %}

{# https://tailwindui.com/components/application-ui/navigation/pagination#component-69eb9381f977800aa890ce8f7d9e2d20 #}
<div class="bg-white px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6">
    <div class="flex-1 flex justify-between sm:hidden">
        <a
                {% if params.current_page.has_previous %}href="?page={{ params.current_page.previous_page_number }}"{% endif %}
                class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:text-gray-500{% if params.current_page.has_previous is not True %} opacity-50 cursor-not-allowed{% endif %}"
        >
            {% translate "Previous" %}
        </a>
        <a
                {% if params.current_page.has_next %}href="?page={{ params.current_page.next_page_number }}"{% endif %}
                class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:text-gray-500{% if params.current_page.has_next is not True %} opacity-50 cursor-not-allowed{% endif %}"
        >
            {% translate "Next" %}
        </a>
    </div>
    <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
        <div>
            {% block footer_text %}Override the "footer_text" block in your template{% endblock %}
        </div>
        <div>
            <nav class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">
                <a
                        {% if params.current_page.has_previous %}href="?page={{ params.current_page.previous_page_number }}"{% endif %}
                        class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50{% if params.current_page.has_previous is not True %} opacity-50 cursor-not-allowed{% endif %}"
                >
                    <span class="sr-only">{% translate "Previous" %}</span>
                    {% include "partials/icons/chevron_left.html" %}
                </a>
                {% for page_number in params.range|slice:":3" %}
                    <a href="?page={{ page_number }}"
                       class="relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm {% if params.current_page_number == page_number %}font-bold{% else %}font-medium{% endif %} text-gray-700 hover:bg-gray-50">
                        {{ page_number }}
                    </a>
                {% endfor %}
                {% if params.range.3 != params.range.4|add:1 %}
                    <span class="relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-700">
                          ...
                        </span>
                {% endif %}
                {% for page_number in params.range|slice:"3:" %}
                    <a href="?page={{ page_number }}"
                       class="relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm {% if params.current_page_number == page_number %}font-bold{% else %}font-medium{% endif %} text-gray-700 hover:bg-gray-50">
                        {{ page_number }}
                    </a>
                {% endfor %}
                <a
                        {% if params.current_page.has_next %}href="?page={{ params.current_page.next_page_number }}"{% endif %}
                        class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50{% if params.current_page.has_next is not True %} opacity-50 cursor-not-allowed{% endif %}"
                >
                    <span class="sr-only">{% translate "Next" %}</span>
                    {% include "partials/icons/chevron_right.html" %}
                </a>
            </nav>
        </div>
    </div>
</div>