{% load static %}

<nav
        class="bg-gray-800"
        x-data="{ mobileExpanded: false }"
>
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
        <div class="relative flex items-center justify-between h-16">
            <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                <!-- Mobile menu button-->
                {% include "partials/navbar_mobile_button.html" %}
            </div>
            <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
                <div class="flex-shrink-0 flex items-center">
                    <a href="{% url 'dashboard:index' %}">
                        <img class="block lg:hidden h-8 w-auto"
                             src="{% static 'img/logo/habari.svg' %}"
                             alt="Habari logo">
                        <img class="hidden lg:block h-8 w-auto"
                             src="{% static 'img/logo/habari_with_text.svg' %}"
                             alt="Habari logo">
                    </a>
                </div>
                <div class="hidden sm:block sm:ml-6">
                    <div class="flex space-x-4">
                        {% for item in main_menu_items %}
                            {% with current_app=request.resolver_match.app_name %}
                                <a
                                        href="{% url item.index_url %}"
                                        class="text-sm font-medium px-3 py-2 rounded-md{% if current_app == item.app %} bg-gray-900 text-white{% else %} text-gray-300 hover:bg-gray-700 hover:text-white{% endif %}"
                                >
                                    {{ item.title }}
                                </a>
                            {% endwith %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                <button class="bg-gray-800 p-1 rounded-full text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white">
                    <span class="sr-only">View notifications</span>
                    <!-- Heroicon name: bell -->
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"/>
                    </svg>
                </button>

                <!-- Profile dropdown -->
                {% include "partials/navbar_profile.html" %}
            </div>
        </div>
    </div>

    <!-- Mobile menu, toggle classes based on menu state. -->
    {% include "partials/navbar_mobile.html" %}
</nav>
