{% load static %}

<div
        class="ml-3 relative"
        x-data="{ expanded: false }"
>
    <div>
        <button
                @click="expanded = !expanded"
                @click.away="expanded = false"
                class="bg-gray-800 flex text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white"
        >
            <span class="sr-only">Open user menu</span>
            <img class="h-8 w-8 rounded-full" src="{% static 'img/avatar.jpg' %}" alt="{{ user.username }}">
        </button>
    </div>
    <!--
      Profile dropdown panel, show/hide based on dropdown state.

      Entering: "transition ease-out duration-100"
        From: "transform opacity-0 scale-95"
        To: "transform opacity-100 scale-100"
      Leaving: "transition ease-in duration-75"
        From: "transform opacity-100 scale-100"
        To: "transform opacity-0 scale-95"
    -->
    <div
            class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5"
            :class="{'hidden': !expanded }"
            role="menu"
            aria-orientation="vertical"
            aria-labelledby="user-menu"
    >
        <a
                href="{% url "auth:account" %}"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                role="menuitem"
        >
            Your account
        </a>
        <a
                href="{% url "auth:logout" %}"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                role="menuitem"
        >
            Sign out
        </a>
    </div>
</div>
