{% load static i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OpenHexa | {% block page_title %}{% translate "Untitled page" %}{% endblock %}</title>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/alpine.js' %}" defer></script>
</head>

<body>
<div class="min-h-screen bg-gray-100">
    {% block body %}{% endblock %}
</div>
</body>
</html>
