{% load i18n %}

<nav class="flex px-2" aria-label="Breadcrumb">
    <ol class="flex items-center space-x-2">
        <li>
            <div>
                <a href="{% url 'core:dashboard' %}" class="text-gray-400 hover:text-gray-500">
                    {% include "partials/icons/home.html" %}
                    <span class="sr-only">{% translate "Home" %}</span>
                </a>
            </div>
        </li>
        {% for breadcrumb in breadcrumbs %}
            <li class="flex">
                <div class="flex items-center">
                    <svg class="flex-shrink-0 h-5 w-5 text-gray-300" xmlns="http://www.w3.org/2000/svg"
                         fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                        <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z"/>
                    </svg>
                    {% if breadcrumb.2 %}
                        {% url breadcrumb.1 breadcrumb.2 as bread_url %}
                    {% else %}
                        {% url breadcrumb.1 as bread_url %}
                    {% endif %}
                    <a
                            href="{{ bread_url }}"
                            {% if forloop.last %}aria-current="page" {% endif %}
                            class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700"
                    >
                        {{ breadcrumb.0 }}
                    </a>
                </div>
            </li>
        {% endfor %}
    </ol>
</nav>
