<div
        x-show="mobileExpanded"
        x-cloak
        class="sm:hidden"
>
    <div class="px-2 pt-2 pb-3 space-y-1">
        {% for item in main_menu_items %}
            {% with current_app=request.resolver_match.app_name %}
                <a
                        href="{% url item.index_url %}"
                        class="block px-3 py-2 rounded-md text-base font-medium {% if current_app == item.app %}bg-gray-900 text-white{% else %}text-gray-300 hover:bg-gray-700 hover:text-white{% endif %}"
                >
                    {{ item.title }}
                </a>
            {% endwith %}
        {% endfor %}
    </div>
</div>
