{% load static i18n %}

<div
        class="mx-3 relative"
        x-data="{ expanded: false }"
>
    <div>
        <button
                @click="expanded = !expanded"
                @click.away="expanded = false"
                class="bg-gray-800 flex text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white"
        >
            <span class="sr-only">{% translate "Open profile menu" %}</span>
            {% include "core/components/avatar.html" with user=request.user %}
        </button>
    </div>
    <div
            class="z-50 origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5"
            x-show="expanded"
            x-cloak
            x-transition:enter="transition ease-out duration-100"
            x-transition:enter-start="transform opacity-0 scale-95"
            x-transition:enter-end="transform opacity-100 scale-100"
            x-transition:leave="transition ease-in duration-75"
            x-transition:leave-start="transform opacity-100 scale-100"
            x-transition:leave-end="transform opacity-0 scale-95"
            role="menu"
            aria-orientation="vertical"
            aria-labelledby="user-menu"
    >
        <a
                href="{% url "user:account" %}"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                role="menuitem"
        >
            {% translate "Your account" %}
        </a>
        <a
                href="{% url "logout" %}"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                role="menuitem"
        >
            {% translate "Sign out" %}
        </a>
    </div>
</div>
