<td class="px-6 py-4 whitespace-nowrap text-right">
    <form
            class="ml-2 flex justify-end"
            action="{{ url }}"
            method="post"
    >
        {% csrf_token %}
        <button type="submit" class="flex items-center justify-end">
            <span class="text-sm font-medium text-gray-900 mr-2">{{ label }}</span>
            <span
                    class="inline-flex items-center p-1 border border-transparent rounded-full shadow-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
            >
                {% include "core/components/icons/"|add:icon|default:"chevron_right"|add:".html" with w=4 h=4 %}
            </span>
        </button>
    </form>
</td>