{# <span class="bg-gray-100 bg-green-100 bg-yellow-100 bg-red-100 text-gray-800 text-green-800 text-yellow-800 text-red-800 border-gray-300 border-green-300 border-yellow-300 border-red-300"> #}
<span class="inline-flex truncate max-w-[{{width|default:"40ch"}}] items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-{{ color|default:"gray" }}-100 text-{{ color|default:"gray" }}-800 border border-{{ color|default:"gray" }}-300 h-6" translate="no" title="{{ short_label|default:label }}">
    {% if image %}
        <img class="mr-1" src="{{ image }}" alt="{{ label }}" title="{{ label }}">
    {% endif %}
    <span class="truncate">{{ short_label|default:label }}</span>
</span>