{% extends "layouts/page.html" %}
{% load i18n %}

{% block page_title %}{% translate "Search" %}{% endblock %}

{% block page_content %}
    <!-- This example requires Tailwind CSS v2.0+ -->
    <div class="bg-white shadow overflow-hidden sm:rounded-md mb-12">
        <div class="divide-y divide-gray-200" x-data="AdvancedSearch()" @addfilter="addFilter(event)">
            <div class="px-4 py-2 sm:px-6">
                <form
                        method="get"
                        action="{% url "catalog:search" %}"
                >
                    <div class="relative">
                        <div class="text-gray-400 absolute inset-y-0 left-0 flex items-center pointer-events-none">
                            {% include "partials/icons/search.html" %}
                        </div>
                        <input
                                type="text"
                                name="query"
                                id="query"
                                class="border-0 focus:outline-none focus:ring-transparent block w-full pl-8 py-4 sm:text-sm"
                                autocomplete="off"
                                placeholder="{% translate "Search for data sources, data elements..." %}"
                                value="{{ query }}"
                                x-model="query"
                        >
                    </div>
                </form>
            </div>
            <div class="bg-blue-50 p-4">
                <div class="ml-3 flex-1">
                    <p class="text-sm text-blue-700">
                        {% blocktranslate %}
                            Enter one or more search terms separated by spaces. You can also filter results by
                            data type or source with these:
                        {% endblocktranslate %}
                    </p>
                    <div class="flex mt-4 items-center">
                        <span class="text-sm text-blue-700">Type:</span>
                        <div class="ml-2 w-60 mr-4" x-data="{ search: '' }" >
                            <select x-data="TomSelectable()" x-init="init($el)" @change="$dispatch('addfilter', 'type')">
                                <option value="" selected></option>
                                {% for type in types %}
                                <option value="{{ type }}">{{ type }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <span class="text-sm text-blue-700">Datasource:</span>
                        <div class="mx-2 w-80">
                            <select x-data="TomSelectable()" x-init="init($el)" @change="$dispatch('addfilter', 'datasource')">
                                <option value="" selected></option>
                                {% for datasource in datasources %}
                                <option value="{{ datasource.datasource_id }}">{{ datasource.datasource_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                {% if results|length > 0 %}
                    <ul class="divide-y divide-gray-200">
                        {% for result in results %}
                            {% include "catalog/components/search_result.html" %}
                        {% endfor %}
                    </ul>
                {% elif query|length > 0 %}
                    <div class="px-4 py-4 sm:px-6">
                        <p class="my-2 text-sm text-grey-700">
                            {% translate "No results found for" %}"{{ query }}".
                            {% translate "Please try another term." %}
                        </p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
