{% extends "layouts/page.html" %}
{% load i18n %}

{% block page_title %}{% translate "Search" %}{% endblock %}

{% block page_content %}
    <div class="bg-white shadow sm:rounded-md mb-12">
        <div
                class="divide-y divide-gray-200"
                x-data="AdvancedSearch('{{ query }}')"
                x-init="init"
                @set-filters="setFilters($event.detail)"
        >
            <form
                    method="get"
                    action="{% url "catalog:search" %}"
                    x-ref="form"
            >
                <input
                        type="hidden"
                        name="query"
                        id="query"
                        class="border-0 focus:outline-none focus:ring-transparent block w-full pl-8 py-4 sm:text-sm"
                        autocomplete="off"
                        x-model="query"
                >
            </form>
            <div class="relative border-b border-gray-200 px-4 py-2 flex">
                <div class="text-gray-400 absolute inset-y-0 left-4 flex items-center pointer-events-none">
                    {% include "partials/icons/search.html" %}
                </div>
                <input
                        type="text"
                        name="text_query"
                        id="text_query"
                        class="border-0 focus:outline-none focus:ring-transparent block w-full pl-8 py-4 sm:text-sm"
                        autocomplete="off"
                        placeholder="{% translate "Search for data sources, data elements..." %}"
                        @keyup="recomputeQuery"
                        @keydown.enter="$refs.form.submit()"
                        x-model="textQuery"
                >
                <button
                        @click="$refs.form.submit()"
                        type="submit"
                        class="inline-flex items-center px-6 py-3 -mr-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
                >
                    {% translate "Search" %}
                </button>
            </div>
            <div class="p-4 bg-gray-50">
                <div class="my-4">
                    <h3 class="text-md font-medium text-gray-900">Search tips</h3>
                    <p class="text-sm text-gray-700">
                        {% blocktranslate %}
                            Enter one or more search terms separated by spaces. Use "quotes" for exact matches.
                        {% endblocktranslate %}
                    </p>
                </div>
                <h3 class="text-md font-medium text-gray-900">Additional filters</h3>
                {% include "catalog/components/search_filter.html" with key="type" label=_("By type") options=type_options %}
                {% include "catalog/components/search_filter.html" with key="datasource" label=_("By source") options=datasource_options %}
                {#                <div class="my-4">#}
                {#                    <p class="text-sm text-yellow-700">#}
                {#                        Generated query string:#}
                {#                        <span class="bg-gray-50 border border-gray-100 rounded">"<span x-html="query"></span>"</span>#}
                {#                    </p>#}
                {#                </div>#}
            </div>
            </form>
            <div>
                {% if results|length > 0 %}
                    <ul class="divide-y divide-gray-200">
                        {% for result in results %}
                            {% include "catalog/components/search_result.html" %}
                        {% endfor %}
                    </ul>
                {% elif query|length > 0 %}
                    <div class="px-4 py-4 sm:px-6">
                        <p class="my-2 text-sm text-grey-700">
                            {% translate "No results found for your query" %}.
                            {% translate "Please try another term." %}
                        </p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
