name: Build Docker Images

on:
  release:
    types: [published]
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      NEXT_PUBLIC_BASE_PATH:
        description: "Base path for the frontend (e.g. /openhexa)"
        required: true
      NEXT_PUBLIC_API_BASE_PATH:
        description: "Base path for the backend API (e.g. /api)"
        required: true
      tag:
        description: "Docker image tag to push (e.g. path-prefix)"
        required: true

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_backend:
    name: Build Backend Docker Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Store version number (on release)
        if: ${{ github.event_name == 'release' }}
        id: version
        run: echo "number=${GITHUB_REF##*/}" >> $GITHUB_OUTPUT

      - name: Cache Docker build dependencies
        id: cache-backend
        uses: actions/cache@v4
        with:
          path: |
            var-cache-apt
            var-lib-apt
            root-.cache
          key: backend-cache-${{ hashFiles('backend/Dockerfile') }}

      - name: Inject caches into Docker
        uses: reproducible-containers/buildkit-cache-dance@v3.3.0
        with:
          cache-map: |
            {
              "var-cache-apt": "/var/cache/apt",
              "var-lib-apt": "/var/lib/apt",
              "root-.cache": "/root/.cache"
            }
          skip-extraction: ${{ steps.cache-backend.outputs.cache-hit }}

      - name: Build and push (release)
        if: ${{ github.event_name == 'release' }}
        uses: docker/build-push-action@v6
        with:
          push: true
          context: backend
          file: backend/Dockerfile
          tags: |
            blsq/openhexa-app:${{ steps.version.outputs.number }}
          cache-from: type=registry,ref=blsq/openhexa-app:buildcache
          cache-to: type=registry,ref=blsq/openhexa-app:buildcache,mode=max
      
      - name: Build and push (main)
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        uses: docker/build-push-action@v6
        with:
          push: true
          context: backend
          file: backend/Dockerfile
          tags: |
            blsq/openhexa-app:main
            blsq/openhexa-app:latest
          cache-from: type=registry,ref=blsq/openhexa-app:buildcache
          cache-to: type=registry,ref=blsq/openhexa-app:buildcache,mode=max


  build_frontend:
    name: Build Frontend Docker Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Store version number (on release)
        if: ${{ github.event_name == 'release' }}
        id: version
        run: echo "number=${GITHUB_REF##*/}" >> $GITHUB_OUTPUT

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Cache Docker build dependencies
        id: cache-frontend
        uses: actions/cache@v4
        with:
          path: |
            var-cache-apk
            code-next-cache
            code-.npm-cache
          key: frontend-cache-${{ hashFiles('frontend/Dockerfile') }}

      - name: Inject caches into Docker
        uses: reproducible-containers/buildkit-cache-dance@v3.3.0
        with:
          cache-map: |
            {
              "var-cache-apk": "/var/cache/apk",
              "code-next-cache": "/code/.next/cache",
              "code-.npm-cache": "~/.npm"
            }
          skip-extraction: ${{ steps.cache-frontend.outputs.cache-hit }}

      - name: Build and push (release)
        if: ${{ github.event_name == 'release' }}
        uses: docker/build-push-action@v6
        with:
          push: true
          context: frontend
          file: frontend/Dockerfile
          tags: |
            blsq/openhexa-frontend:${{ steps.version.outputs.number }}
          cache-from: type=registry,ref=blsq/openhexa-frontend:buildcache
          cache-to: type=registry,ref=blsq/openhexa-frontend:buildcache,mode=max
          build-args: |
            "SENTRY_AUTH_TOKEN=${{ secrets.SENTRY_AUTH_TOKEN }}"
            "RELEASE=${{ steps.version.outputs.number }}"

      - name: Build and push (main branch)
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        uses: docker/build-push-action@v6
        with:
          context: frontend
          push: true
          tags: |
            blsq/openhexa-frontend:main
            blsq/openhexa-frontend:latest
          cache-from: type=registry,ref=blsq/openhexa-frontend:buildcache

      - name: Build and push (manual, with path prefix)
        if: ${{ github.event_name == 'workflow_dispatch' }}
        uses: docker/build-push-action@v6
        with:
          context: frontend
          file: frontend/Dockerfile
          push: true
          tags: |
            blsq/openhexa-frontend:${{ inputs.tag }}
          cache-from: type=registry,ref=blsq/openhexa-frontend:buildcache
          build-args: |
            "NEXT_PUBLIC_BASE_PATH=${{ inputs.NEXT_PUBLIC_BASE_PATH }}"
            "NEXT_PUBLIC_API_BASE_PATH=${{ inputs.NEXT_PUBLIC_API_BASE_PATH }}"
