name: Build OpenHEXA Frontend

on:
  release:
    types: [ published ]
  workflow_dispatch:
    inputs:
      tag:
        description: Image tag
        required: true
  
jobs:
  build:
    runs-on: ubuntu-latest

    # see https://github.com/docker/build-push-action
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Store version number (on release)
        if: ${{ github.event_name == 'release' }}
        id: version
        # GITHUB_REF looks like "refs/tags/0.3.1" - we need to extract the actual version without the v prefix
        run: echo ::set-output name=number::${GITHUB_REF##*/}
        
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build and push (release)
        if: ${{ github.event_name == 'release' }}
        uses: docker/build-push-action@v2
        with:
          push: true
          context: .
          tags: |
            blsq/openhexa-frontend:${{ steps.version.outputs.number }}
            blsq/openhexa-frontend:latest
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          RELEASE: ${{ steps.version.outputs.number }}

      - name: Build and push (manual)
        if: ${{ github.event_name == 'workflow_dispatch' }}
        uses: docker/build-push-action@v2
        with:
          push: true
          context: .
          file: Dockerfile
          tags: |
            blsq/openhexa-frontend:${{ github.event.inputs.tag }}
            blsq/openhexa-frontend:latest
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          RELEASE: ${{ steps.version.outputs.number }}
