on:
  push:
    branches:
      - main
      - hotfix/*
name: release-please

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true


jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.RELEASE_GH_TOKEN }}